<div class="placeholder-wrapper flex flex-col">
  <div class="verse-content" [class.visible]="isVisible">
    <div class="reference-line text-xs sm:text-sm md:text-base lg:text-md xl:text-md font-semibold">
      {{ currentReference }}
    </div>
    
    <div class="text-line flex items-center gap-1">
      <span class="verse-text text-[#4CAF50] text-xs sm:text-sm md:text-base lg:text-md xl:text-md">
        {{ currentText }}
      </span>
      <span class="cursor"></span>
    </div>
  </div>
</div>